.expense30{

}


.expense30 p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.82px;
    color: #2155CD;
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
}




.expense31{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    margin-top: 20px;
}


.expense31 button{
    width: auto;
    height: auto;
    background-color: #2155CD;
    outline: none;
    border: none;
    padding: 12px 20px 12px 20px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27.28px;
    color: #FFFFFF;
}



.expense33 button{
    width: auto;
    height: auto;
    background-color: #2155CD;
    border: none;
    outline: none;
    padding: 8px 17px 8px 17px;
    border-radius: 4px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16.37px;
    color: #FFFFFF;
}