.pdc{
    margin-top: 20px;
}


.pdc1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}



.pdc1 p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}


.pdc2{
    border: 1px solid #3F3F3F;
    flex: 1;
    max-width: 80% !important;   
    width: auto; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

.pdc5{
    display: flex;
    gap: 70px;
    width: 78%;
}

.pdc2 input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
    background-color: transparent;
}


.pdc3{
    width: auto;
    height: auto;
    padding: 10px 26px 10px 26px;
    background-color: #1B55E2;
    border-radius: 0px 4px 4px 0px;
}


.pdc3 p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
}




.pdc4 button{
    width: auto;
    height: auto;
    background-color: #2155CD;
    padding: 12px 54px 12px 54px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
    cursor: pointer;
}





/* FeeStructure Modal  css  */

.feestructureModal101{
    background-color: #f0f0f0;
}

.feestructureModal{

}


.feestructureModal1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


.feestructureModal1 p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}


.feestructureModal2{
    width: 100%;
    height: 87px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.feestructureModal3{
    width: auto;
    height: auto;
    background-color: #2155CD;
    padding: 12px 39px 12px 39px;
    border-radius: 4px;
    cursor: pointer;
}


.feestructureModal3 p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
}


.feestructureModal4{
    width: auto;
    height: auto;
    border: 1px solid #2155CD;
    background-color: #FFFFFF;
    padding: 12px 39px 12px 39px;
    border-radius: 4px;
    cursor: pointer;
}


.feestructureModal4 p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #2155CD;
    margin: 0;
}





/* EducationDetails Modal css  */



.EducationDetailsModal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


.EducationDetailsModal p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}



.EducationDetailsModal1{
    display: flex;
    align-items: center;
    justify-content: center;
}


.EducationDetailsModal1 select{
    border: none;
    outline: none;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    margin: 0;
}



/* Document Details Modal  */