


.meetingedit111{

}

.meetingedit112{

}

.meetingedit112 h6{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}





.meetingedit114{
    width: 585px;
    height: 56px;
    box-shadow: 0px 0px 4px 0px #00000040;
    background: #FFFFFF;
    display: flex;
}


.meetingedit115{
    width: 168px;
    height: 56px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.82px;
    color: #FFFFFF;
    margin: 0;
}