.targetanalysis{
    width: auto;
    height: auto;
    background-color: #00C165;
    padding: 12px 43px 12px 43px;
    border-radius: 4px;
    cursor: pointer;
}

.targetanalysis p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.82px;
    color: #ffffff;
    margin: 0;
  }


.targetanalysis1{
    flex: 1;
    max-width: 90%;
    width: 400px;
    height: 65px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.targetanalysis1 p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 27.28px;
    color: #000000;
    margin: 0;
    padding-left: 20px;
}



.targetanalysis2{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}


.targetanalysis3{
    width: 100%;
    height: 132px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}



.targetanalysis4 {
    display: flex;
    gap: 20px;
}

.targetanalysis5 {
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 12px 40px 12px 40px;
    border-radius: 4px;
    background-color: #2155CD;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.82px;
    color: #FFFFFF;
    margin: 0;
}



.targetanalysis6 {
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 12px 40px 12px 40px;
    border-radius: 4px;
    border: 1px solid #2155CD;
    background-color: #FFFFFF;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.82px;
    color: #2155CD;
    margin: 0;
}




.targetanalysis7{
    width: 254.09px;
    height: 39px;
    border: 1px solid #444444;
    border-radius: 4px;
}