/* HOC.css */

.container1 {
  /* display: flex;
  flex-direction: column;
  height: 100vh;  */
}

.hocnavbar {
  width: 100%;
}

.hoccontainer {
  display: flex;
}

.hocsidebar {
  width: auto;
}

.child-component {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .hoccontainer {
    flex-direction: column; 
  }
  
  .hocsidebar {
    width: 100%; 
  }
}
