/* HOC.css */

.container1 {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.hocnavbar {
  flex: 0 0 auto;
}

.hoccontainer {
  display: flex;
  flex: 1; 
}

.hocsidebar {
  flex: 0 0 auto; 
  width: 262px; 
}

.child-component {
  flex: 1; 
  padding: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .hoccontainer {
    flex-direction: column; 
  }
  
  .hocsidebar {
    width: 100%; 
  }
}
